<div id="edit_report_form">
  <%= form_with(model: report, local: false) do |form| %>
    <% if report.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

        <ul>
          <% report.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row justify-content-center">
      <h3>Key Priorities</h3>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :current_committees_rocks, "This Week's Committees/Rocks" %>
          <%= form.text_area :current_committees_rocks, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :future_committees_rocks, "Next Week's Committees/Rocks" %>
          <%= form.text_area :future_committees_rocks, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :current_internal_support, "This Week's Internal Support" %>
          <%= form.text_area :current_internal_support, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :future_internal_support, "Next Week's Internal Support" %>
          <%= form.text_area :future_internal_support, class: "form-control"%>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :current_projects, "This Week's Projects" %>
          <%= form.text_area :current_projects, class: "form-control" %>      
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :future_projects, "Next Week's Projects" %>
          <%= form.text_area :future_projects, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :current_other, "Other Activities This Week" %>
          <%= form.text_area :current_other, class: "form-control"  %>  
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :future_other, "Other Activities Next Week" %>
          <%= form.text_area :future_other, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="form-group">
          <div class="field">
            <%= form.label :pto, "Upcoming PTO" %>
            <%= form.date_field :pto %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="field">
            <%= form.label :pvt, "Upcoming PVT"%>
            <%= form.date_field :pvt %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="field">
            <%= form.label :ooo, "Upcoming OOO" %>
            <%= form.date_field :ooo %>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="actions">
          <%= form.submit "Submit Report", class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  <% end %>
</div>