<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      User
    </div>
    <div class="col-md-3">
      Period Start Date
    </div>
    <div class="col-md-3">
      Period End Date
    </div>
  </div>

  <% current_user.reports.each do |report| %>
    <div class="row">
      <div class="col-md-3">
        <%= report.user.email %>
      </div>
      <div class="col-md-3">
        <%= report.period.start %>
      </div>
      <div class="col-md-3">
        <%= report.period.end %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Show', report %>
        <%= link_to 'Edit', edit_report_path(report) %>
        <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Report', new_report_path %>
