<p id="notice"><%= notice %></p>

<p>
  <strong>Current internal support:</strong>
</p>

<p>
  <strong>Future internal support:</strong>
  <%= @report.future_internal_support %>
</p>

<p>
  <strong>Current projects:</strong>
  <%= @report.current_projects %>
</p>

<p>
  <strong>Future projects:</strong>
  <%= @report.future_projects %>
</p>

<p>
  <strong>Current other:</strong>
  <%= @report.current_other %>
</p>

<p>
  <strong>Future other:</strong>
  <%= @report.future_other %>
</p>

<p>
  <strong>Pto:</strong>
  <%= @report.pto %>
</p>

<p>
  <strong>Pvt:</strong>
  <%= @report.pvt %>
</p>

<p>
  <strong>Ooo:</strong>
  <%= @report.ooo %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>

<div class="row justify-content-center mb-4">
  <div class="col-md-6">
    <strong>This Week's Committees/Rocks:</strong>
    <%= @report.current_committees_rocks %>
  </div>

  <div class="col-md-6">
    <strong>Next Week's Committees/Rocks:</strong>
    <%= @report.future_committees_rocks %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-md-6">
    <strong>This Week's Internal Support:</strong>
    <%= @report.current_internal_support %>
  </div>

  <div class="col-md-6">
    <strong>Next Week's Internal Support:</strong>
    <%= @report.future_internal_support %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-md-6">
    <strong>This Week's Projects:</strong>
    <%= @report.current_projects %>
  </div>

  <div class="col-md-6">
    <strong>Next Week's Projects:</strong>
    <%= @report.future_projects %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-md-6">
    <strong>Other Activities This Week:</strong>
    <%= @report.current_other %>
  </div>

  <div class="col-md-6">
    <strong>Other Activities Next Week:</strong>
    <%= @report.future_other %>
  </div>
</div>

<div class="row justify-content-center mb-4">
  <div class="col-md-3">
    <strong>Upcoming PTO:</strong>
    <%= @report.pto %>
  </div>

  <div class="col-md-3">
    <strong>Upcoming PVT:</strong>
    <%= @report.pvt %>
  </div>

  <div class="col-md-3">
    <strong>Upcoming OOO:</strong>
    <%= @report.ooo %>
  </div>
</div>

